body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    overflow-x: hidden;
}

header {
    background-color: rgb(66, 196, 247);
    justify-items: center;
}

h1 {
    font-size: 1.8rem;
    margin-top: 0px;
    padding-top: 18px;
    margin-bottom: 0px;
    cursor: default;
}

header p {
    margin-top: 8px;
    font-weight: bold;
    padding-bottom: 20px;
    margin-bottom: 0px;
}

nav {
    background-color: black;
}

ul {
    list-style: none;
    margin: 0px ;
    justify-self: center;
    width: 90%;
    padding: 12px 0px;
    text-align: center;
    cursor: default;
}

li {
    display: inline;
    margin: 0px 2%;
}

li a {
    text-decoration: none;
    color: white;
}

li a:hover {
    color: #ff7f1f;
}

.top-section {
    background: linear-gradient(to right,#ff7f1f,#ff8f43,#fe741c);
    color: white;
    justify-items: center;
    height: 18rem;
    overflow: hidden;
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
}

h2 {
    font-size: 2rem;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.588);
    margin: 0px;
    position: relative;
    top: 30%;
}

.top-section p {
    font-size: .8rem;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.588);
    position: relative;
    top: 31%;
}

.top-section button {
    position: relative;
    top: 32%;
    font-size: .6rem;
    color: white;
    border: none;
    border-radius: 2px;
    background-color: #0066cc;
    height: 22px;
    width: 4rem;
    cursor: pointer;
}

.top-section button:hover {
    background-color: #004e9d;
}

.top-section img {
    display: block;
    justify-self: right;
    position: fixed;
    right: -19rem;
    top: 7rem;
    width: 44rem;
}

main {
    position: relative;
    justify-items: center;
}

main .p1 {
    margin-top: 4%;
    color: #0066cc;
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: -6px;
    cursor: default;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2%;
    max-width: 48rem;
}

.products .card {
    width: 14rem;
    margin-top: 14px;
    border-radius: 6px;
    box-shadow: 0px 1px 4px rgba(128, 128, 128, 0.647);
    justify-items: center;
    transition: 150ms;
}

.products .card:hover {
    scale: 102%;
}

.card img {
    display: block;
    margin-top: 14px;
    width: 87%;
    border-radius: 6px;
}

.p-name {
    color: #0066cc;
    font-weight: bold;
}

.mrp {
    font-size: .8rem;
}

.products .card button {
    border: none;
    border-radius: 4px;
    background-color: #0066cc;
    color: white;
    font-size: .7rem;
    width: 4.5rem;
    height: 26px;
    margin-bottom: 14px;
    cursor: pointer;
}

.products button:hover {
    background-color: #004e9d;
}

.s-heading {
    font-weight: bold;
    font-size: 1.1rem;
    color: #0066cc;
    margin-top: 8%;
    margin-bottom: 4px;
    cursor: default;
}

.services {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 48rem;
    justify-content: center;
}

.services .card {
    width: 14rem;
    border: 1px solid rgb(225, 225, 225);
    border-radius: 4px;
    background-color: rgb(241, 241, 241);
    justify-items: center;
    cursor: pointer;
    transition: 150ms;
}

.services .card:hover {
    scale: 102%;
}

.s-name {
    font-size: .85rem;
    font-weight: bold;
    margin-bottom: 0px;
}

.s-details {
    font-size: .8rem;
    margin-top: 6px;
    margin-bottom: 12px;
}

.clt-feedback {
    background-color: #ff7f1f;
    justify-items: center;
    margin-top: 32px;
    height: 9.3rem;
}

.clt-p1 {
    font-weight: bold;
    margin-bottom: 20px !important;
    font-style: normal !important;
    font-size: 1.2rem !important;
}

.clt-feedback p {
    font-style: italic;
    font-size: .8rem;
    position: relative;
    top: 16%;
    margin-bottom: 16px;
}

.membership {
    justify-items: center;
}

.membership-heading {
    font-size: 1.1rem;
    font-weight: bold;
    color: #0066cc;
    margin-top: 24px;
    margin-bottom: 4px;
    cursor: default;
}

.membership-container {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    justify-content: center;
}

.membership-container .card {
    width: 24rem;
    justify-items: center;
    background-image: url(./assets/paper-bags-blue-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -96px;
    border-radius: 4px;
    cursor: pointer;
    transition: 150ms;
}

.membership-container .card:hover {
    scale: 103%;
}

.m-type {
    font-weight: bold;
    font-size: .9rem;
    margin-bottom: 0px;
}

.m-price {
    font-size: .8rem;
    margin-top: 8px;
}

.blog {
    background-color: rgb(241, 241, 241);
    margin-top: 24px;
    height: 13rem;
}

.b-heading {
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 0px;
    position: relative;
    left: 3%;
    top: 26px;
    width: 90%;
}

.b-title {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0px;
    position: relative;
    left: 3%;
    top: 26px;
    width: 90%;
}

.b-content {
    font-size: .8rem;
    margin-top: 8px;
    margin-bottom: 28px;
    position: relative;
    left: 3%;
    top: 26px;
    width: 90%;
}

.b-content a {
    color: blue;
}

.gallery {
    justify-items: center;
}

.gallery p {
    font-size: 1.1rem;
    font-weight: bold;
    color: #0066cc;
    margin-top: 20px;
    cursor: default;
    margin-bottom: 8px;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
}

.gallery img {
    display: block;
    width: 18rem;
    height: 10rem;
    border-radius: 4px;
    cursor: pointer;
    transition: 200ms;
}

.gallery img:hover {
    scale: 103%;
}

.faq {
    background-color: #444444;
    margin-top: 24px;
    height: 13rem;
    color: white;
}

.f-heading {
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 0px;
    position: relative;
    left: 3%;
    top: 26px;
    width: 90%;
}

.que {
    font-weight: bold;
    font-size: .9rem;
    margin-top: 10px;
    margin-bottom: 0px;
    position: relative;
    left: 3%;
    top: 26px;
    width: 90%;
}

.ans {
    font-size: .8rem;
    margin-top: 8px;
    margin-bottom: 28px;
    position: relative;
    left: 3%;
    top: 26px;
    width: 90%;
}

.contact-us {
    justify-items: center;
    background-color: #f9f9f9;
    padding: 24px 0px;
}

.contact-us p {
    font-size: 1.1rem;
    font-weight: bold;
    color: #0066cc;
    margin-top: 0px;
    margin-bottom: 12px;
    cursor: default;
}

input {
    display: block;
    justify-self: center;
    width: 22rem;
    height: 24px;
    font-size: .7rem;
    padding-left: 6px;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 3px;
    margin-bottom: 12px;
}

textarea {
    display: block;
    justify-self: center;
    width: 22rem;
    font-size: .7rem;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 3px;
    padding-left: 6px;
    padding-top: 6px;
}

.contact-us button {
    display: block;
    justify-self: center;
    width: 22.5rem;
    height: 20px;
    font-size: .7rem;
    border: none;
    border-radius: 3px;
    background-color: #0066cc;
    color: white;
    margin-top: 12px;
    cursor: pointer;
}

.contact-us button:hover {
    background-color: #004e9d;
}

footer {
    background-color: #333333;
    color: white;
    justify-items: center;
    font-size: .7rem;
    padding-top: 6px;
    padding-bottom: 20px;
}


.social-links {
    width: 9.34rem;
}

.social-links img {
    width: 2rem;
    margin: 0px 1%;
}

img[alt="instagram"], img[alt="twitter"] {
    scale: 112%;
}

@media (max-width: 949px) {
    .top-section img {
    right: -15rem;
    top: 8rem;
    width: 34rem;
    }
}

@media (max-width: 549px) {
    .top-section img {
    right: -11rem;
    top: 14rem;
    width: 24rem;
    }
}

@media (max-width: 745px) {
    h1 {
        font-size: 1.5rem;
    }
    header p {
        font-size: .7rem;
    }
    ul {
        font-size: .7rem;
        text-align: center;
        width: 100%;
    }
    li {
        margin: 0px 6px;
    }
    h2 {
        font-size: 1.3rem;
    }
    .top-section p {
        font-size: .6rem;
    }
}

@media (max-width: 407px) {

    header p {
        font-size: .6rem;
    }

    li {
        font-size: .6rem;
        margin: 0px 5px;
    }

    .membership-container {
        gap: 10px;
    }
    .membership-container .card {
        width: 18rem;
    }
    input, textarea {
        width: 18rem;
    }
    .contact-us button {
        width: 18.5rem;
    }
}

@media (max-width:339px) {

    h1 {
        font-size: 1.3rem;
    }
    header p {
        font-size: .5rem;
    }

    li {
        font-size: .5rem;
    }

    .top-section img {
    right: -10rem;
    top: 15rem;
    width: 22rem;
    }
}
